<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644146746823-4efo72ug9icmsvq7f5tv9uj220npg4ds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644146746823-4efo72ug9icmsvq7f5tv9uj220npg4ds</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>644146746823-i8qdakvbrmgadj5odm0ebond2chdnv0h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAj9iR_JYOBiolt58lqwitIdko3MFr3Wjk</string>
	<key>GCM_SENDER_ID</key>
	<string>644146746823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adminPanel</string>
	<key>PROJECT_ID</key>
	<string>ecommshopping-b31ff</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommshopping-b31ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644146746823:ios:5279583aa362cb31d635e2</string>
</dict>
</plist>